* {
    transition: all 0.3s ease-out;
    box-sizing: border-box;
}


html,
body {
    cursor: none;
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    max-width: 2000px;
    margin: 0 auto;
}


.bg-text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.custom-cursor {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: transform 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.cursor-dot {
    width: 12px;
    height: 12px;
    backdrop-filter: invert(1);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.from-left {
    animation: slideInFromLeft 0.7s ease-out forwards 2s;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.from-right {
    animation: slideInFromRight 0.7s ease-out forwards 2s;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.from-down {
    animation: slideInFromDown 0.7s ease-out forwards 2s;
}

@keyframes slideInFromDown {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}